<div class="list-of-users">
	<% @users.each do |user| %>
		<% if user.id == session[:id] %>
			<% next %>
		<% else %>
			<%= user.name %>
			<p><%= link_to "Add Friend", friend_requests_path(user: user, friend_id: user.id), method: :post %></p>
            
		<% end %>
	<% end %>
</div>