 /*
 //= require_tree .
 //= require_self
 */
 
@import 'bootstrap-sprockets';
@import 'bootstrap';

html {
  position: relative;
  min-height: 100%
}

body {
  margin: 0 0 100px;
}

.sign-in-btn {
    text-align: center;
     border: none;
     color: #ffffe6;
     text-decoration: none;
     font-size: 14px;
     box-shadow: 2px 2px 1px #888888;
 }

 .registration {
  margin: 0 auto;
  padding: 25px;
  width: 290px;
  background-color: #476b6b;
  height: 300px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.register-link {
  margin-top: 5px;
}

.navbar {
  background-color: #476b6b;
}

.right-link {
  color: white;
}

.right-link:hover {
  background-color: #476b6b !important;
  color: white;
}

.left-link {
  color: white;
}

.left-link:hover {
  background-color: #476b6b !important;
  color: white;
}

.right-side {
  padding-top: 0px;
}

.footer {
  width: 100%;
  bottom: 0;
  position: absolute;
}

ul {
  list-style-type: none;
}

.image {
  margin-left: 45%;
}

img {
  margin-top: 10px;
  height: 30px;
  width: 30px;
}

.update {
  margin-bottom: 1.8em;
}

.welcome-sign {
  text-align: center;
}

.grouping {
  display: inline-block;
  margin-left: 100px;
  width: 40%;
}

.user-friends {
  float: left;
  width: 20%;
  height: 100%;
}

.advertise {
  height: 100%;
  float: right;
  width: 20%;
}
